*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}

span {
  font-weight: 600;
  color: #04959e;
}

.wrapper {
  text-align: center;
}

.header-wrapper {
  margin: auto;
  width: 635px;
}

.nav-header {
}

.nav-list {
  margin: 0;
  padding: 32px 0px;
}

.nav-item {
  display: inline-block;
}

.nav-link-first {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #000;
}

.nav-link {
  padding-left: 72px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #000;
}
.main-conteiner {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: #00bdc9;
}
.main-list {
  width: 856px;
  padding: 88px 0px;
  margin: auto;
}

.main-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;
  text-align: center;
  color: #000;
  margin: 0;
}
.main-title-description {
  margin: 0;
  padding-top: 40px;
  text-align: left;
  font-weight: 500;
  font-size: 21px;
  line-height: 150%;
  color: #161616;
}

.main-title-list {
  margin: 0;
  padding-top: 24px;
  padding-left: 22px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #161616;
}
.main-title-item {
  text-align: left;
}
.button-wrapper {
  padding: 10px;
  width: 165px;
  height: 64px;
  margin: auto;
}

.main-button {
  padding: 10px 24px;
  width: 145px;
  height: 44px;
  border: 0;
  background: #04959e;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #fff;
}

.footer-wrapper {
  margin: auto;
  width: 856px;
  text-align: center;
}

.footer-line {
  margin: 0;
  border: 0;
  height: 1px;
  background: #161616;
}

.footer-text {
  margin: 0;
  padding: 16px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #161616;
}
